<div class="container">
    <div class="paper">
        <div class="titulo">
           Pago de remesas
        </div>
        <div class="cuerpo d-flex flex-row justify-content-between">
            <div class="col col-7 card">
                <div class="card-header">
                    Información de la remesa
                </div>
                <div class="card-body">
                   
                </div>
            </div>
            <div class="col col-4 card d-flex justify-content-center text-center p-3">
                <div class="input-group mt-3">
                    <label for="estatusRemesa" class="form-label w-100 fw-bold">Estatus de la remesa</label>
                    <input type="text" name="estatusRemesa" class="form-control rounded" aria-label="estatusRemesa">
                </div>
                <div class="input-group mt-3">
                    <label for="fechaEnvio" class="form-label w-100 fw-bold">Fecha envío</label>
                    <input type="text" name="fechaEnvio" class="form-control rounded" aria-label="fechaEnvio">
                </div>
                <button class="primaryColor btn w-100 mt-4 text-white"> <b>Q </b> Pagar </button>
            </div>
        </div>
        <div class="card mt-3 col-12">
            <div class="card-header">
                Información del cliente
            </div>
            <div class="card-body">

            </div>
        </div>
        <div class="card mt-3 col-12">
            <div class="card-header">
                Información adicional del cliente
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
    
</div>