@import "~bootstrap/dist/css/bootstrap.css";

/* Contenedor estilos */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.infoStatusContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.titulo {
    font-size: 1.1rem !important;
    width: 100%;
    border-bottom: 2px solid #006341;
    margin-bottom: 20px !important;
    font-weight: 900 !important;
    font-family: var(--font-regular);
}
.card{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.primaryColor {
    background-color: #24654b!important;
}
/* FIN Contenedor estilos */

.consultarMTCN { 
    background-color: #e7910f!important;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.col h4{
    background: #e9e9e9;
    padding: 5px;
    text-align: center;
}

/* ---------------------- Responsivo --------------------------*/

/* - - - TABLET - - */
@media screen and (max-width: 780px) {
    .infoStatusContainer{
       flex-direction: column;   
    }
    .estatusRemesa, .infoRemesa, .infoRemesa .col-6, .infoRemesa .col-3{
        width: 100%!important;
    }
    .estatusRemesa{
        margin-top: 10px!important;
    }
    .infoCliente .card-body .row, .infoClienteAdicional .card-body .row, .infoRemesa .card-body .d-flex{
        flex-direction: column!important;
    }   
    .w-75, .w-50, .w-25{
        width: 100%!important;
    }
    .infoCliente input, .infoCliente select, .infoRemesa input, .infoRemesa select, .infoClienteAdicional input, .infoClienteAdicional select{
        margin-bottom: 5px!important;
    }
    .consultarMTCN{
        margin: 0;
    }
}

/* - - - MOVIL - - */
@media screen and (max-width: 600px) {
    
}