@import "~bootstrap/dist/css/bootstrap.css";

/* Contenedor estilos */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.titulo {
    font-size: 1.1rem !important;
    width: 100%;
    border-bottom: 2px solid #006341;
    margin-bottom: 20px !important;
    font-weight: 900 !important;
    font-family: var(--font-regular);
}
.card{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.primaryColor {
    background-color: #24654b!important;
}
/* FIN Contenedor estilos */

.consultarMTCN { 
    background-color: #e7910f!important;
    margin-left: 1rem;
    margin-bottom: 1rem;
}