<!-- div -->
<div class="container" #container>
  <!-- div -->
  <div class="paper">
    <!-- div -->
    <div class="titulo">Pago de remesas</div>
    <!-- div -->
    <div class="alert alert-info" role="alert" *ngIf="pagoRemesas.clienteNuevo">
      Favor llenar información por ser cliente nuevo
      <!-- fin div -->
    </div>
    <!-- Contenedor informacion y estatus de remesa -->
    <!-- div -->
    <form (ngSubmit)="onSubmit()" [formGroup]="’form’"></form>
    <div class="infoStatusContainer">
      <!-- Informacion de la remesa -->
      <!-- div -->
      <div class="infoRemesa col col-7 card">
        <!-- div -->
        <div class="card-header fw-bold">Información de la remesa</div>
        <!-- div -->
        <div class="card-body">
          <!-- div -->
          <div class="d-flex justify-content-left mb-3">
            <!-- div -->
            <div class="col col-3">
              <!-- p -->
              <p class="form-label fw-bold">Clave de envío</p>
              <!-- fin div -->
            </div>
            <!-- div -->
            <div class="col col-6">
              <label for="claveEnvio"></label>
              <input
                [(ngModel)]="pagoRemesas.informacionRemesa.claveEnvio"
                type="number"
                name="claveEnvio"
                id="claveEnvio"
                class="form-control"
                [disabled]="pagoRemesas.flagClaveEnvio"
                aria-label="claveEnvio"
                placeholder="CLAVE DE ENVÍO"
              />
              <!-- fin div -->
            </div>
            <!-- div -->
            <div class="col col-3 text-center">
              <button
                (click)="buscaClaveEnvio()"
                [disabled]="pagoRemesas.flagClaveEnvio"
                class="primaryColor btn color-primary text-white"
              >
                buscar
              </button>
              <!-- fin div -->
            </div>
            <!-- fin div -->
          </div>
          <!-- div -->
          <div class="d-flex flex-row justify-content-left mb-3">
            <!-- div -->
            <div class="col col-3">
              <!-- p -->
              <p class="form-label fw-bold">Remitente</p>
              <!-- fin div -->
            </div>
            <!-- div -->
            <div class="col col-6">
              <label for="remitente"></label>
              <input
                [(ngModel)]="pagoRemesas.informacionRemesa.remitente"
                disabled
                type="text"
                name="remitente"
                id="remitente"
                class="form-control"
                aria-label="remitente"
              />
              <!-- fin div -->
            </div>
            <!-- fin div -->
          </div>
          <!-- div -->
          <div class="d-flex flex-row justify-content-left mb-3">
            <!-- div -->
            <div class="col col-3">
              <!-- p -->
              <p class="form-label fw-bold">Origen de envio</p>
              <!-- fin div -->
            </div>
            <!-- div -->
            <div class="col col-6">
              <label for="origenEnvio"></label>
              <input
                [(ngModel)]="pagoRemesas.informacionRemesa.origenEnvio"
                disabled
                type="text"
                name="origenEnvio"
                class="form-control"
                aria-label="origenEnvio"
              />
              <!-- fin div -->
            </div>
            <!-- fin div -->
          </div>
          <!-- div -->
          <div class="d-flex flex-row justify-content-left mb-3">
            <!-- div -->
            <div class="col col-3">
              <!-- p -->
              <p class="form-label fw-bold">Monto</p>
              <!-- fin div -->
            </div>
            <!-- div -->
            <div class="col col-6">
              <label for=""></label>
              <input
                [(ngModel)]="pagoRemesas.informacionRemesa.monto"
                disabled
                type="text"
                name="monto"
                id="monto"
                class="form-control"
                aria-label="monto"
              />
              <!-- fin div -->
            </div>
            <!-- fin div -->
          </div>
          <!-- fin div -->
        </div>
        <!-- fin div -->
      </div>
      <!-- Estatus de la remesa -->
      <!-- div -->
      <div
        class="estatusRemesa col col-4 card d-flex justify-content-center text-center p-3"
        #estatusRemesa
      >
        <!-- div -->
        <div class="input-group mt-1">
          <!-- p -->
          <p class="form-label w-100 fw-bold">Estatus de la remesa</p>
          <label for=""></label>
          <input
            [(ngModel)]="pagoRemesas.informacionRemesa.estatusRemesa"
            disabled
            type="text"
            name="estatusRemesa"
            class="form-control rounded"
            aria-label="estatusRemesa"
          />
          <!-- fin div -->
        </div>
        <!-- div -->
        <div class="input-group mt-3">
          <!-- p -->
          <p class="form-label w-100 fw-bold">Fecha envío</p>
          <label for=""></label>
          <input
            [(ngModel)]="pagoRemesas.informacionRemesa.fechaEnvio"
            disabled
            type="text"
            name="fechaEnvio"
            class="form-control rounded"
            aria-label="fechaEnvio"
          />
          <!-- fin div -->
        </div>
        <button
          (click)="pagarRemesa()"
          class="primaryColor btn w-100 mt-5 text-white"
          [disabled]="!pagoRemesas.flagExisteMtcn"
        >
          <strong>Q </strong> Pagar
        </button>
        <!-- fin div -->
      </div>
      <!-- fin div -->
    </div>

    <app-info-cliente *ngIf="pagoRemesas.flagClaveEnvio"></app-info-cliente>

    <!-- Informacion adicional  -->
    <!-- div -->
    <div
      class="infoClienteAdicional card mt-3 col-12"
      *ngIf="pagoRemesas.flagExisteId"
    >
      <!-- div -->
      <div class="card-header fw-bold">Información adicional del cliente</div>
      <!-- div -->
      <div class="card-body">
        <!-- div -->
        <div class="row">
          <!-- div -->
          <div class="col fw-bold">
            <h4>Información de la remesa</h4>
            <!-- fin div -->
          </div>
          <!-- fin div -->
        </div>
        <!-- div -->
        <div class="row mt-3">
          <!-- div -->
          <div class="col fw-bold">
            <!-- p -->
            <p for="origenRecursos">Origen de los recursos</p>
            <!-- fin div -->
          </div>
          <!-- div -->
          <div class="col">
            <select
              [(ngModel)]="pagoRemesas.informacionAdicional.origenRecursos"
              name="origenRecursos"
              id="origenRecursos"
              class="form-control"
            >
              <option value="default">Indique el origen de los recursos</option>
              <option value="1">AHORRO</option>
            </select>
            <!-- fin div -->
          </div>
          <!-- div -->
          <div class="col fw-bold">
            <!-- p -->
            <p for="motivo">Motivo</p>
            <!-- fin div -->
          </div>
          <!-- div -->
          <div class="col">
            <select
              [(ngModel)]="pagoRemesas.informacionAdicional.motivo"
              name="motivo"
              id="motivo"
              class="form-control"
            >
              <option value="default">Indique el motivo de los recursos</option>
              <option value="1">PAGO DE PRESTAMOS</option>
            </select>
            <!-- fin div -->
          </div>
          <!-- fin div -->
        </div>
        <!-- div -->
        <div class="row mt-3">
          <!-- div -->
          <div class="col fw-bold">
            <!-- p -->
            <p for="parentezcoRemitente">Parentezco remitente</p>
            <!-- fin div -->
          </div>
          <!-- div -->
          <div class="col">
            <select
              [(ngModel)]="pagoRemesas.informacionAdicional.parentezcoRemitente"
              name="parentezcoRemitente"
              id="parentezcoRemitente"
              class="form-control"
            >
              <option value="default">
                Indique el parentezco con el remitente
              </option>
              <option value="1">PADRE</option>
              <option value="2">MADRE</option>
              <option value="3">SOCIO</option>
            </select>
            <!-- fin div -->
          </div>
          <!-- div -->
          <div class="col fw-bold">
            <!-- p -->
            <p for="usoDinero">Uso del dinero</p>
            <!-- fin div -->
          </div>
          <!-- div -->
          <div class="col">
            <select
              [(ngModel)]="pagoRemesas.informacionAdicional.usoDinero"
              name="usoDinero"
              id="usoDinero"
              class="form-control"
            >
              <option value="default">Indique el uso del dinero</option>
              <option value="1">PAGO POR PRESTACIÓN</option>
            </select>
            <!-- fin div -->
          </div>
          <!-- fin div -->
        </div>
        <!-- div -->
        <div class="row mt-3">
          <!-- div -->
          <div class="col fw-bold">
            <h4>Otros Datos</h4>
            <!-- fin div -->
          </div>
          <!-- fin div -->
        </div>
        <!-- div -->
        <div class="row mt-">
          <!-- div -->
          <div class="col fw-bold">
            <!-- p -->
            <p for="transaccionalidad">Transaccionalidad</p>
            <!-- fin div -->
          </div>
          <!-- div -->
          <div class="col">
            <select
              [(ngModel)]="pagoRemesas.informacionAdicional.transaccionalidad"
              id="transaccionalidad"
              name="transaccionalidad"
              class="form-control"
            >
              <option value="default">Indique su transaccionalidad</option>
              <option value="1">1 - 5 OPERACIONES</option>
            </select>
            <!-- fin div -->
          </div>
          <!-- div -->
          <div class="col fw-bold">
            <!-- p -->
            <p for="ingresoMensual">Ingreso Mensual Q</p>
            <!-- fin div -->
          </div>
          <!-- div -->
          <div class="col">
            <label for=""></label>
            <input
              [(ngModel)]="pagoRemesas.informacionAdicional.ingresoMensual"
              type="number"
              id="ingresoMensual"
              name="ingresoMensual"
              class="form-control"
              placeholder="Indique el ingreso mensual"
            />
            <!-- fin div -->
          </div>
          <!-- fin div -->
        </div>
        <!-- div -->
        <div class="row mt-3">
          <!-- div -->
          <div class="col fw-bold">
            <!-- p -->
            <p for="empresaLabora">Empresa Labora</p>
            <!-- fin div -->
          </div>
          <!-- div -->
          <div class="col">
            <label for=""></label>
            <input
              [(ngModel)]="pagoRemesas.informacionAdicional.empresaLabora"
              type="text"
              id="empresaLabora"
              name="empresaLabora"
              class="form-control"
              placeholder="Indica el nombre de la empresa"
            />
            <!-- fin div -->
          </div>
          <!-- div -->
          <div class="col"></div>
          <!-- div -->
          <div class="col"></div>
          <!-- fin div -->
        </div>
        <!-- fin div -->
      </div>
      <!-- fin div -->
    </div>

    <!-- Consulta MTCN -->
    <button
      *ngIf="pagoRemesas.flagExisteId"
      [disabled]="!pagoRemesas.flagRegistrado"
      (click)="container.scrollTop = 170; consultaMtcn()"
      class="consultarMTCN btn w-25 text-white font-weight-bold mt-4"
    >
      <em class="fas fa-redo-alt ml-3"></em>consultar MTCN
    </button>
    <!-- fin div -->
  </div>
</div>
